[
    {
        "username": "sophia",
        "userdisplayname": "Sophia Marlé",
        "password": "helloworld"
    },
    {
        "username": "paul",
        "userdisplayname": "Paul Rémora",
        "password": "nothing"
    }
]