:root {
    --footer-height: 3rem;
    --scale: 0.4;
    --invert-scale: 2.5;

    --result-width: 16em;
    --webcam-capture-interval: 2s;

    --neutral-color: #FaFaFa;
    --neutral-color-highlight: #fefefe;
    --light-border: #E0E0E0;
    --title-text-color: #929292;
    --footer-btn-color: #363636;

    --tooltip-color: rgb(254, 253, 226);
    --tooltip-border-color: rgb(253, 251, 191);

    --group-break-color-code: #e3dfcc;
    --group-static-color-code: rgb(154, 123, 212);
    --group-text-color-code: rgb(186, 226, 127);
    --group-image-color-code: rgb(233, 107, 168);

    --card-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    --primary-font: 'Helvetica Neue', sans-serif;
}

html {
    font-family: var(--primary-font);
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: transparent;
    background: none;
}

:not(:defined) {
    visibility: hidden;
}

.no-scroll {
    overflow: hidden;
    /* Prevent vertical movement */
    height: 100%;
    /* Prevent horizontal movement */
    width: 100%;
}

.click-circle {
    --circle-diameter: 50px;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background-color: transparent;
    position: fixed;
    border-radius: 50%;
    border: 2px solid rgb(47, 47, 47);
    opacity: 1;
    z-index: 9999;
}

@keyframes fade-out-opacity {
    to {
        opacity: 0;
    }
}


canvas#mesh-background,
img#mesh-background-clone {
    z-index: -99;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 450px) {

    .group input,
    .group textarea,
    .group p {
        font-size: 100%;
    }
}

/* set a common font size for elements that differ in chrome, safari... */
input,
textarea,
button {
    font-family: var(--primary-font);
    font-size: 11px;
}


input,
textarea,
.referenced-result-text {
    font-family: var(--primary-font);
    font-size: 11px;
    border: 1px;
    border-style: solid;
    border-color: #cccccc;

    background: none;
    background-color: transparent;

    padding: 0.4rem;
    max-width: calc(100% - 0.75rem);
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
}

div,
button,
.tool-btn,
textarea {
    border-radius: 0.3rem;
}

::placeholder {

    color: #8f8f8f;
}

.container {
    display: flex;
    flex-wrap: wrap;

    padding: 1rem;
    margin-bottom: var(--footer-height);
    height: fit-content;

    background-color: transparent;
    background: none;
}

/* Group */

.group {
    border: 1.5px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.75rem;
    padding-top: 0;
    margin: 1.7rem;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    min-width: var(--result-width);
    position: relative;
    background-color: rgba(255, 255, 255, 0.95);
}

.miniview .group::before {
    /* hide the glass pane border in miniview
            as it was popping off and on when sorting 
            probably a z-index issue but at small scale it's better to streamline the view */
    --pane-overgrowth: 0rem;
    top: var(--pane-overgrowth);
    left: var(--pane-overgrowth);
    right: var(--pane-overgrowth);
    bottom: var(--pane-overgrowth);

}

@media screen and (max-width: 450px) {
    .group {
        width: 100%;
        align-self: center;
        margin: 0.75rem 0 0.75rem 0;
    }
}

.group.break {
    flex-basis: 100%;
    height: fit-content;
    max-width: none;
    border-color: var(--group-break-color-code);
}

.group.break input {
    align-self: center;
    width: 60%;
    border: none;
    font-size: 120%;
    text-align: center;
    background-color: transparent;
    color: var(--title-text-color);
}

@media screen and (max-width: 450px) {

    .group.break input {
        align-self: center;
        width: 90%;
    }
}

.group.static {
    border-color: var(--group-static-color-code);
}

.group.imported-image {
    border-color: var(--group-static-color-code);
}

.group.text {
    border-color: var(--group-text-color-code);
}

.group.image {
    border-color: var(--group-image-color-code);
}

.group-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.5rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;
}

.group-header small,
.group-header button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;
}

.group-header small {
    padding: 0.35rem 0.55rem 0.35rem 0.55rem;
    border-radius: 0.45rem 0 0.3rem 0;
    position: relative;
    top: 0;
    left: -0.8rem;
}

.group.static .group-header small {
    background-color: var(--group-static-color-code);
}

.group.imported-image .group-header small {
    background-color: var(--group-static-color-code);
}

.group.text .group-header small {
    background-color: var(--group-text-color-code);
}

.group.image .group-header small {
    background-color: var(--group-image-color-code);
}

.group.break .group-header small {
    background-color: var(--group-break-color-code);
}

.group-header small img {
    filter: brightness(0) invert();
    height: 0.75rem;
}

.group-header .drag-handle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;


    cursor: grab !important;

    font-size: 200%;
    height: 1ex;
    margin-top: -1.5rem;

    padding-left: 1em;
    padding-right: 1em;

    color: #929292;
}

.function-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


.tool-btn {
    width: min-content;
    padding: 0.4rem 0.5rem 0.25rem 0.5rem;
    font-size: 0.8em;
    align-self: flex-end;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: transparent;
    margin-left: 0.5rem;

    border-color: var(--light-border);
    background-color: transparent;
    transition: background-color 0.1s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;
}

.tool-btn.selected {
    box-shadow: inset 0.25em 0.3em var(--light-border);
}

/* Button groups, This style is to be used for buttons that are exclusive to each others */

.group-btn {
    display: inline-flex;
}

/* first button */
.group-btn .tool-btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0rem;
    margin-right: 0;
}

/* middle buttons */
.group-btn .tool-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border-left: none;
}

/* last button */
.group-btn .tool-btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left: none;
}

.group.static .tool-btn {
    border-color: var(--group-static-color-code);
}


.group.imported-image .tool-btn {
    border-color: var(--group-static-color-code);
}


.group.text .tool-btn {
    border-color: var(--group-text-color-code);
}


.group.image .tool-btn {
    border-color: var(--group-image-color-code);
}


.tool-btn:hover {
    background-color: var(--neutral-color);
}

.tool-btn img {
    height: 1rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;
}

.delete-btn {
    padding: 0.1rem 0.3rem 0.15rem 0.3rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    right: -0.5rem;
}

.group-header button.delete-btn img {
    height: 0.75rem;
}

.download-btn {
    padding: 0.4rem 0.5rem;
    font-size: 0.8em;
    align-self: flex-end;
    border: 1px solid #cccccc;
    cursor: pointer;
    background-color: transparent;
    margin-left: 0.5rem;
    margin-top: 0.5rem;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    user-drag: none;
}

.group-name,
.data-text,
.transform-text,
.referenced-result-text {
    margin-bottom: 0.5rem;
}

.group-name {
    font-size: 0.8rem;
    border: none;
    text-align: center;
}

textarea[readonly],
input[readonly] {
    background: linear-gradient(0.25turn, #e8ecf1, #e2e6ec);
    outline: none;
}

/* Reference rendered as previews of the data-text */

.referenced-result-text {
    background-color: transparent;
    height: 20em;
    overflow-y: scroll;
    resize: vertical;
}

.group.static .referenced-result-text {
    height: 22em;
}

.referenced-result-text:empty {
    display: none;
}

.referenced-result-text .inline-result-html.text {

    --group-color-code: 186, 226, 127;
}

.referenced-result-text .inline-result-html.static {

    --group-color-code: 154, 123, 212;
}

.referenced-result-text .inline-result-html {
    width: 98%;
    height: 5em;

    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 2em;

    box-shadow: inset 0 0px 14px 0px rgba(var(--group-color-code), 0.2);
    border: solid rgba(var(--group-color-code), 0.2) 1px;
    vertical-align: middle;
    border-left-width: 0;
    border-right-width: 0;
}

.referenced-result-text .inline-result-html:first-child {
    margin-top: 0;
}

.referenced-result-text .inline-result-html:last-child {
    margin-bottom: 0;
}


.inline-result-image {
    width: 2em;
    border-radius: 0.5em;
    vertical-align: middle;
}

/* greying out all images except the first to alert the user that only the first image is used by the generators */
.group.text .referenced-result-text img:not(:first-of-type),
.group.image .referenced-result-text img:not(:first-of-type) {
    filter: grayscale(100%) brightness(50%);
    opacity: 0.2;
}


.inline-data-text {
    vertical-align: middle;
}

.inline-reference-text {
    border-radius: 0.15rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.inline-reference-text.not-ready {
    color: white;
    background: orange;
}

.inline-reference-text.not-valid {
    color: white;
    background: red;
}

.data-text,
.transform-text {
    height: 20em;
    border: 1px;
    border-style: solid;
    border-color: #cccccc;
}

.group.static .data-text {
    height: 22em;
}

.group.static.entry textarea.data-text,
.group.static.entry div.referenced-result-text,
.group.entry .image-import-container .drop-zone {
    background-image: url("/icons/entry-dimmed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
}

.data-text.error,
.referenced-result-text.error {
    border-color: red;
}

.data-text.warning,
.referenced-result-text.warning {
    border-color: orange;
}

.data-text.valid,
.referenced-result-text.valid {
    border-color: blue;
}

.data-text.error:focus {
    border-color: red;

}

.data-text.warning:focus {
    border-color: orange;

}

.data-text.valid:focus {
    border-color: blue;
}

.window-drop-zone {
    min-height: 95vh;
    min-width: 100vw;
}


.drop-zone {
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    outline: 2px dashed #cccccc;
    outline-offset: -2px;
    cursor: pointer;
    margin-bottom: 1rem;
    color: var(--title-text-color);
    font-size: 0.9rem;
}

.video-zone {
    position: relative;
}


.image-import-container .drop-zone {
    height: 8.8em;
    margin-bottom: 0.5em;
}



.drop-zone:active {
    outline: 2px dashed #0000ff;
    outline-offset: -2px;
}

.drop-zone.drop-zone-over {
    outline: 2px dashed #0000ff;
    outline-offset: -2px;
}

.webcam-feed {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    width: var(--result-width);
}

.mirrored-video .webcam-feed {
    transform: scaleX(-1);
}

.webcam-capture-interval-indicator {
    width: 100%;
    height: 0.5em;
    background-color: var(--group-static-color-code);
    transform-origin: left;
    animation: grow var(--webcam-capture-interval) linear;
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}


iframe.result {
    border: none;
    font-size: 0.85em;
    height: 100%;
    max-height: 25rem;
    overflow-y: scroll;
    white-space: pre-line;
    min-width: var(--result-width);
    max-width: 18.5rem;
}

.group sl-select {
    margin-top: 1em;
}

img.result {
    cursor: zoom-in;
}

iframe.zoomed {
    position: fixed;
    width: 75%;
    height: 90%;
    top: 50%;
    left: 50%;
    padding: 2rem;
    border-radius: 0.5rem;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: var(--neutral-color);
    border-style: solid;
    border-color: var(--light-border);
}

.zoomed-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-zoomed {
    display: inline-block;
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;

    font-weight: 500;

    color: var(--footer-btn-color);
    background-color: white;

    border: 1px solid;
    border-radius: 0.5rem;

    min-height: fit-content;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

    margin: 0.25rem;
    margin-top: 0.5rem;

    z-index: 2000;

    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
}

.close-zoomed img {
    padding-left: 0.3rem;
    height: 0.8rem;
    vertical-align: text-bottom;

    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;
}

@media screen and (max-width: 450px) {

    .close-zoomed .text-btn {
        display: none;
    }

    .close-zoomed {
        padding-left: 0.5rem;
    }

}

img.result.zoomed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: auto;
    max-width: 90%;
    max-height: 90%;
    z-index: 1000;

    cursor: zoom-out;

    padding: 50%;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

@media screen and (max-width: 450px) {

    img.result {
        width: 100%;
    }

    img.result.zoomed {
        max-width: 100%;
        max-height: 100%;
    }
}

/* Footer Tools Buttons */

.footer-tools {

    -webkit-user-select: none;
    user-select: none;

    position: fixed;
    bottom: 0;

    z-index: 9;

    display: flex;
    flex-flow: row;
    height: var(--footer-height);
    padding-top: 0.2rem;
    padding-bottom: 0.9rem;

    width: calc(100vw - 8.5rem);
    padding-left: 7rem;
    padding-right: 4.5rem;

    overflow-x: auto;
    white-space: nowrap;
    background-color: var(--neutral-color);
    box-shadow: 0 6px 1rem 0.5rem rgba(0, 0, 0, 0.09);
}


.footer-btn {
    display: inline-block;
    cursor: pointer;

    -webkit-user-select: none;
    user-select: none;

    font-weight: 500;

    color: var(--footer-btn-color);
    background-color: white;

    border: 1px solid;
    border-radius: 0.5rem;

    min-height: fit-content;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;

    margin: 0.25rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 450px) {

    .footer-btn {
        -webkit-user-drag: none;
        user-drag: none;
    }

}

.footer-btn:hover {
    background-color: var(--neutral-color);
}

.footer-btn img {
    padding-left: 0.3rem;
    height: 0.8rem;
    vertical-align: text-bottom;

    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    user-drag: none;

}

.footer-btn text-btn.hidden {
    display: none;
}

.footer-btn.open-settings-menu-btn img {
    padding-left: 0;
}

.enter-miniview-btn,
.exit-miniview-btn {

    position: fixed;
    height: 3.2rem;
    width: 6rem;
    margin: 0;
    left: 0;

    background-color: white;

    border-radius: 0;
    border-width: 0;
    border-style: none;

    border-right: 1px solid var(--light-border);
}

.exit-miniview-btn {
    display: none;
}

.add-break-group-btn {
    border-color: var(--group-break-color-code)
}

.add-static-group-btn {
    border-color: var(--group-static-color-code);
}

.add-imported-image-group-btn {
    border-color: var(--group-static-color-code);
}

.add-group-btn {
    border-color: var(--group-text-color-code);
}

.add-img-group-btn {
    border-color: var(--group-image-color-code);
}

.add-block-tools {
    margin-right: 2rem;
}

.edit-app-tools {
    margin-right: 2rem;
}

/* this push the last flex item to the right, because 
"Prior to alignment via justify-content and align-self, any positive free space is distributed to auto margins in that dimension." */
.share-settings-tools {
    margin-left: auto;
}

.open-settings-menu-btn {
    margin-left: 0.25rem;
}

/* Settings Menu */

sl-drawer {
    --footer-spacing: 0.55rem;
}

sl-drawer div {
    margin-bottom: 1rem;
}

sl-drawer h3 {
    margin-block-start: 1.5em;
}

sl-drawer .settings-menu-top {
    margin-top: 0.25;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

sl-drawer .settings-menu-top div {
    margin-bottom: 0;
}

sl-drawer sl-icon {
    vertical-align: text-bottom;
}

sl-drawer .settings-link {
    font-size: 110%;
    color: var(--sl-color-primary-600);
    text-decoration: none;
}

sl-drawer div:has(sl-switch) {
    margin-bottom: 1.3rem;
}

sl-drawer sl-button {
    width: 12rem;
}

sl-switch {
    --width: 3rem;
    --height: 1.5rem;
    --thumb-size: 1.5rem;

    /* used for unchecked */
    /* --sl-color-neutral-400: rgb(148, 230, 148); */
    /* used for checked */
    /* --sl-color-primary-600: rgb(221, 78, 73);  */
}

.quality-switch::part(control) {
    border-color: rgb(148, 230, 148);
    background-color: var(--neutral-color);
}

.quality-switch[checked]::part(control) {
    border-color: rgb(249, 99, 94);
    background-color: var(--neutral-color);
}


.quality-switch::part(thumb) {
    border-color: rgb(148, 230, 148);
    background-color: rgb(148, 230, 148);
}

.quality-switch[checked]::part(thumb) {
    border-color: rgb(249, 99, 94);
    background-color: rgb(249, 99, 94);
}

sl-drawer .drop-zone#upload-json-zone {
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: middle;
    text-align: center;
}

sl-drawer::part(footer) {
    background-color: var(--neutral-color);
    box-shadow: 0 6px 1rem 0.5rem rgba(0, 0, 0, 0.09);
}


.close-settings-menu-btn {
    position: relative;
    bottom: 0.28rem;
    height: 2.25rem;
}

/* END Settings Menu */

.sortable-ghost {
    max-height: 10vw;
    align-self: center;
    overflow: hidden;
    background-color: rgba(153, 187, 255, 0.5);
}

.sortable-drag,
.sortable-drag * {
    opacity: 0;
    border: none;
}

.group.break.sortable-ghost {
    flex-basis: 10vw;
    background-color: rgba(153, 187, 255, 0.5);
}

@media screen and (max-width: 450px) {

    .group.break.sortable-ghost {
        flex-basis: 50%;
    }
}

.sortable-selected {
    background-color: rgba(153, 187, 255, 0.5);
}

.group.break.sortable-selected {
    background-color: rgba(153, 187, 255, 0.5);
}

.sortable-chosen {
    cursor: grabbing !important;
}

@media screen and (max-width: 450px) {

    .sortable-drag,
    .sortable-drag * {
        opacity: 0;
        border: none;
    }

    .group.break.sortable-ghost {
        flex-basis: 50%;
    }

    .sortable-drag.sortable-selected {
        background-color: transparent;
    }

    .group.break.sortable-selected.sortable-drag {
        background-color: transparent;
    }
}

.grabbing * {
    cursor: grabbing !important;
}

.zoomable {
    /* this transitions are used by the miniview styles */
    transition: transform 0.1s ease-in-out;
}

.zoomable::before {

    content: "";
    display: block;
    position: fixed;

    width: 100vw;
    height: 100vh;

    backdrop-filter: blur(3vw);
    -webkit-backdrop-filter: blur(3vw);

    z-index: -2;
}

.miniview.zoomable::before {

    transform: scale(var(--invert-scale));
    transform-origin: top center;

}


.miniview.zoomable {
    transform: scale(var(--scale));
    transform-origin: top center;
    /* arbitrary small sizing to avoid white space below the container */
    height: 20vh;
}

.miniview .tool-btn {
    opacity: 0;
    cursor: not-allowed;
    pointer-events: none;
}

.error {
    border-color: red;
    color: red;
}

.waiting {
    cursor: wait !important;
    --gradient-first-color: rgba(255, 175, 226, 0.2);
    --gradient-second-color: rgba(255, 99, 220, 0.2);
    background-image: linear-gradient(270deg, var(--gradient-first-color), 40%, var(--gradient-second-color), 70%, var(--gradient-first-color));
    animation: scrollingBackground 20s infinite linear;
}

.waiting * {
    opacity: 0.8;
    cursor: wait !important;
}

.fetching-indicator {
    display: none;
}

.waiting.fetching-indicator {
    display: block;
    position: fixed;
    z-index: 99;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 0.5ex;
    height: 1ex;
    color: #f8a7ff;

    background-image: repeating-linear-gradient(-270deg, #f8a7ff, #e2cbfe 45.38%, rgb(198, 154, 254) 57.56%, #f8a7ff);
    animation: scrollingBackground 20s infinite linear;
}


@keyframes scrollingBackground {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 1000vw 0
    }
}

.new-group-appearing {
    animation: popOut 0.12s ease-in-out;
}

@keyframes popOut {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }

    70% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}


@media print {

    .container {
        display: block;
        height: auto;
    }

    .referenced-result-text,
    textarea.referenced-result-text[readonly],
    textarea[readonly],
    input[readonly] {

        background-color: transparent;
        background: none;
    }

    .group-name {
        font-size: 200%;
        background-color: transparent;
        background: none;
    }

    .group.static,
    .group.image,
    .group.text {

        page-break-inside: avoid;
        page-break-before: auto;
        page-break-after: auto;

        break-inside: avoid-page;
        break-before: auto;
        break-after: auto;
    }

    .group.break {

        page-break-inside: avoid;
        page-break-before: auto;
        page-break-after: avoid;

        break-inside: avoid-page;
        break-before: auto;
        break-after: avoid-page;
    }

    .group-header,
    .tool-btn,
    .footer-tools,
    .download-btn {
        display: none;
    }

    .data-text,
    .transform-text {
        display: none;
    }

    input {
        outline: none;
        border: none;
    }
}

/* Tooltips */

.tippy-box[data-theme~="esquisse"] {
    background-color: var(--tooltip-color);
    color: rgb(45, 41, 41);
    font-size: 0.8rem;
    border-color: var(--tooltip-border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 0.3rem;
    line-height: 1.5;
    white-space: normal;
    outline: 0;
}

.tippy-box[data-theme~='esquisse'][data-placement^="top"]>.tippy-arrow::before {
    bottom: -9px;
    left: 0;
    border-width: 8px 8px 0;
    border-top-color: var(--tooltip-border-color);
    transform-origin: center top;
}

.tippy-box[data-theme~='esquisse'][data-placement^="bottom"]>.tippy-arrow::before {
    top: -9px;
    left: 0;
    border-width: 0 8px 8px;
    border-bottom-color: var(--tooltip-border-color);
    transform-origin: center bottom;
}


/* List View Styles */

canvas#mesh-background:has(~ .container.list-view) {
    display: none;
}

.container.list-view {
    display: block;
    padding-left: 1.5em;
}

.container.list-view:last-child {
    margin-bottom: 10em;
}

.container.list-view .group {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-left: 10vw;
    margin-bottom: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 80vw;
    max-width: 32em;
    position: relative;
}

.container.list-view .group.break {
    margin-left: 5vw;
    padding: 0;
    background: transparent;
}

.container.list-view .group-header {
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 90vw;
    z-index: 0;
    top: 2.75em;
    left: -2.75em;
    position: relative;
}

.container.list-view .group.break .group-header {
    width: calc(90vw + 1.75em);
}

.container.list-view .group-header small {
    display: none;
    left: 0;
}

.container.list-view .group-name {
    text-align: left;
    font-size: 1.1em;
    margin-left: 0em;
    width: 65vw;
}

.container.list-view .group.break .group-name {
    font-size: 1.5em;
    z-index: 9;
    position: relative;
}

.container.list-view .data-text,
.container.list-view .transform-text,
.container.list-view .referenced-result-text {
    display: block;
    white-space: pre-wrap;
    font-size: 0.9em;
    margin-bottom: 0.3rem;
    margin-left: 1.5em;
    width: 65vw;
    min-height: 1.5rem;
    height: max-content;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
}

.container.list-view .image-import-container {
    margin-bottom: 0;
    margin-left: 1.7em;
    width: min-content;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 0;
}

.container.list-view .data-text,
.container.list-view .transform-text {

    /* this is the future but not supported on Safari and Firefox */
    field-sizing: content;
}


.container.list-view .group-header .drag-handle {
    font-size: 2em;
    color: black;
    cursor: grab !important;
    transform: rotate(90deg);
    position: relative;
    bottom: 0.15em;
}

.container.list-view .group.break .group-header .drag-handle {
    bottom: 0;
}

.container.list-view .group-header .drag-handle>span {
    display: none;
}

.container.list-view .function-buttons-container {
    justify-content: flex-start;
    margin-left: 1em;
    margin-bottom: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.container.list-view .group:hover .function-buttons-container {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.container.list-view .group-btn:first-child {

    margin-left: 0rem;

}

.container.list-view iframe.result {
    font-size: 0.9em;
    margin-top: 2em;
    margin-left: 1.5em;
}

.container.list-view img.result {
    margin-left: 1.5em;
    margin-top: 0.5em;
}

.container.list-view .download-btn {

    margin-left: 1.7em;

}

.container.list-view .image-import-container .drop-zone {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
    width: calc(20em - 0.75em);
}

.container.list-view .group .result-placeholder {
    margin-left: 1.5em;
}

.container.list-view .group.image .result-placeholder,
.container.list-view .group.imported-image .result-placeholder {
    margin-top: 1em;
}


/* Result placeholders */

.result-placeholder {
    display: block;
}

.group.text .result-placeholder span,
.group.static .result-placeholder span {
    display: block;
    position: relative;
    height: 0.5em;
    background-color: var(--light-border);
    border-radius: 0.4em;
    margin-top: 0.9em;
    margin-bottom: 1.5em;
}

.group.text .result-placeholder span:nth-last-child(4n+1),
.group.static .result-placeholder span:nth-last-child(4n+1) {
    width: 80%;
    margin-bottom: 3em;
}

.group.text .result-placeholder span:last-child,
.group.static .result-placeholder span:last-child {
    width: 60%;
}

.group.image .result-placeholder,
.group.imported-image .result-placeholder {
    display: block;
    aspect-ratio: 1 / 1;
    background-color: var(--light-border);
    border-radius: 0.2em;
}

@media screen and (max-width: 450px) {

    .group.image .result-placeholder,
    .group.imported-image .result-placeholder {
        width: 100%;
    }

    .group.text .result-placeholder span,
    .group.static .result-placeholder span {
        width: 100%;
    }
}

.group.text .zoom-out-btn,
.group.static .zoom-out-btn {
    display: block;
}

.group.text .result.empty-result~.zoom-out-btn,
.group.static .result.empty-result~.zoom-out-btn {
    display: none;
}

.group.text .result:not(.empty-result)~.result-placeholder,
.group.static .result:not(.empty-result)~.result-placeholder,
.group.text sl-select~.result-placeholder,
.group.static sl-select~.result-placeholder {
    display: none;
}

img.result[src].result:not([src=""])~.result-placeholder {
    display: none;
}

.data-text-container {
    resize: vertical;
    overflow: auto;
    height: 20em;
    width: var(--result-width);
    margin: 0;
    border: 1px solid #cccccc;
    background-color: transparent;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

.data-text,
.referenced-result-text {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    margin: 0;
    padding: 0.4rem;
    overflow: auto;
    background-color: transparent;
}

.data-text {
    display: block;
}

.referenced-result-text {
    display: none;
}

.data-text-container .data-text {
    display: block;
}

.data-text-container .referenced-result-text {
    display: block;
}

@media screen and (max-width: 450px) {
    .data-text-container {
        width: 100%;
        height: auto;
        margin: 0.75rem 0;
    }

    .data-text,
    .referenced-result-text {
        font-size: 100%;
    }
}

@media screen and (max-width: 450px) {
    .data-text-container {
        width: 100%;
        align-self: center;
        margin: 0.75rem 0;
    }
}

.referenced-result-text:empty {
    display: none;
}

.referenced-result-text .inline-result-html {
    width: 98%;
    height: 5em;
    margin: 1rem 1%;
    border-radius: 2em;
    box-shadow: inset 0 0px 14px 0px rgba(var(--group-color-code), 0.2);
    border: solid rgba(var(--group-color-code), 0.2) 1px;
    vertical-align: middle;
}

.referenced-result-text .inline-result-html:first-child {
    margin-top: 0;
}

.referenced-result-text .inline-result-html:last-child {
    margin-bottom: 0;
}

.inline-result-image {
    width: 2em;
    border-radius: 0.5em;
    vertical-align: middle;
}

.inline-data-text {
    vertical-align: middle;
}

.inline-reference-text {
    border-radius: 0.15rem;
    padding: 0 0.2rem;
}

.inline-reference-text.not-ready {
    color: white;
    background: orange;
}

.inline-reference-text.not-valid {
    color: white;
    background: red;
}

.data-text.error,
.referenced-result-text.error {
    border-color: red;
}

.data-text.warning,
.referenced-result-text.warning {
    border-color: orange;
}

.data-text.valid,
.referenced-result-text.valid {
    border-color: blue;
}

.data-text.error:focus {
    border-color: red;
}

.data-text.warning:focus {
    border-color: orange;
}

.data-text.valid:focus {
    border-color: blue;
}